.logo-container {
  position: relative;
}

.logo-container:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 20px;
  opacity: -20;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.solid-logo {
  position: absolute;
  opacity: 0.2;
  margin-top: -306px;
  margin-left: -269px;
}
